<main class="container">
    <h1 class="container__title">Busca tu Anime favorito</h1>
    <form class="container__search-form">
        <input type="text" class="js-input-text input-text" placeholder="Busca tu anime...">
        <input type="submit" value="Buscar" class="js-btn-search buttons">
        <input type="submit" value="Reset" class="js-btn-reset buttons">
        <input type="submit" value="Log" class="js-btn-log buttons">
        
    </form>
    <section class="principal-box">
        <div class="principal-box__fav">
            <h2 class="subtitle">Favoritos</h2>
            <ul class="js-favourites ul-items__fav "></ul>
            <input type="submit" value="Reset" class=" js-reset-fav btn-fav">
        </div>
        <div class="principal-box__result">
            <h2 class="subtitle">Resultados</h2>
            <ul class="js-list ul-items__results"></ul>
        </div>
    </section>
</main>