// variable de fuente
$font-family :'Space Mono', monospace;

//colores
$background-color-main: #8cddf6;
$color-text:  #34495e;
$btn-background: #d4e6f1 ;
$color-btn: #154360;
$select-border:  #a569bd;
$select-color:  #8e44ad;


